.color-bg-g1 {
  background-color: rgb(194, 27, 27);
}

/* CSS - Notícia */

.sombra-texto-card {
  text-shadow: 1px 1px 1px black;
}

.noticia-principal {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#noticia-1 {
  background-image: url(../img/noticias/principais/bolsonaro.avif);
}

#noticia-2 {
  background-image: url(../img/noticias/principais/charlie.avif);
}

#noticia-3 {
  background-image: url(../img/noticias/principais/russia.avif);
}

/* CSS - Notícia */
