.color-bg-g1 {
  background-color: rgb(194, 27, 27);
}

/* CSS - Notícia principal */

.sombra-texto-card {
  text-shadow: 0.8px 0.8px 0.8px black;
}

.noticia-principal {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.noticia-principal .card-text {
  font-size: 0.7em;
}

.noticia-principal .card-body {
  position: relative;
  z-index: 1;
}

.noticia-principal img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;

  transition: transform 0.3s;
}

.noticia-principal:hover img {
  transform: scale(1.1);
}

/* CSS - Notícia principal*/
